.cajaportada {
    padding: 72px !important;
  }
  
  .portada {
    max-width: 1000px;
    background-color: white;
    text-align: center;
  }
  
  .portada2 {
    width: 100%;
    text-align: center;
    margin: 0 auto !important;
  
    img {
      width: 100%;
    }
  }
  
  .imgport {
    max-width: 100%;
  }
  