.sobremi {
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 0px 70px 0px;
  }
  
  .smc1 {
    padding: 30px;
  }
  
  .imgsm {
    width: 100%;
    padding: 81px 40px 40px 40px;
  }
  .sbm {
    margin-top: 40px;
  }
  .propuestadevalor {
    background-color: var(--beige);
  }