<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
    content="Diseñadora de interiores, especialista en interiorismo en España. Proyectos de decoración, viviendas...">
<meta name="keywords" content="diseño, interiores, diseñadora de interiores, interiorismo, ebook diseño de interiores">
    <title>Blog diseño de interiores | Karla - Blog</title>
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <script src="https://kit.fontawesome.com/686377109d.js" crossorigin="anonymous"></script>

</head>

<body id="body_nat" >
<div class="grid-layout">


	<!--menu-->

<div class="caja c1">

	<header id="header__nav">


<h3 class="logo"><a href="../index.html">KARLA</a></h3>


<nav class="menu_nat">

	<ul class="menu_items_nat">

		<li class="nav__item"><a href="../index.html"> INICIO </a></li>
		<li class="nav__item"><a href="../views/sobremi.html"> SOBRE MI </a></li>
		<li class="nav__item"><a href="../views/servicios.html"> SERVICIOS</a></li>
		<li class="nav__item"><a href="../views/galeria.html"> GALERÍA </a></li>
		<li class="nav__item"><a href="../views/contacto.html"> CONTACTO </a></li>
        <li class="nav__item"><a href="../views/ebook.html"> EBOOK </a></li>

			<span class="redes">
	<a href="#"><i class="fa-brands fa-facebook"></i></a>
 
	<a href="#"><i class="fa-brands fa-instagram"></i></a>
	
</span>

	</ul>

</nav>


</div>


<!--portada-->

<div class="caja c2">

	<section class="flex_section_portada">
		
		<article id="cajita">

			<img src="../assets/img/descargar-ebook-decoracion.jpg" alt="imagen">

<h1 class="titnormal">Descarga el<br><em>ebook gratis</em></h1>

<h1 class="titresp">Descarga el <em>ebook gratis</em></h1>

<p class="pafnormal" style="padding-bottom: 20px;">Tips y consejos para<br> hogares con encanto</p>

<p class="pafresp" style="padding-bottom: 20px;">Tips y consejos para hogares con encanto</p>
<i class="fa-solid fa-angle-down"></i>


	</article>


	</section>

	
</div>


<!--sobremi-->

<div class="caja c3">

	<section class="flex_section_sobremi">
	
<article id="cajita1">

	<h2 class="titulosec">¿Quieres descubrir las claves para conseguir un hogar confortable, funcional y a medida?</h2>


<hr class="gris">

<p>Este ebook es para ti si vas a renovar tu decoración en breve o vas a comprar tu primera vivienda.<br>
<br>	
En mi ebook encontrarás 7 trucos imprescindibles para entender y mejorar tu casa, donde encontrarás mis 7 pasos para comenzar a transformar la decoración de tu hogar.<br>
<br>
Descubre cómo transmitir tu personalidad y mejorar tu casa.</p>


</article>


</section>
	
</div>

<!--servicios-->


<div class="caja c4">

<h2 class="titulosec">¿Qué vas a encontrar?</h2>

<section class="flex_section_servicios">

<article id="cajita1_ser">

    <i class="fa-solid fa-book-open"></i>
	
<h2>Consejos deco</h2>
<hr class="dorado">
<p>Consejos para planificar tu espacio y decoración de interiores par aprovecharte de sus beneficios.</p>
</article>

<article id="cajita2_ser">

	<i class="fa-solid fa-graduation-cap"></i>
	
<h2>Herramientas y recursos</h2>
<hr class="dorado">
<p>Herramientas prácticas que te ayudarán a poner en marcha tu decoración según tus objetivos y metas.</p>
</article>

<article id="cajita3_ser">

    <i class="fa-solid fa-chalkboard-user"></i>
	
<h2>Tener el control</h2>
<hr class="dorado">
<p>Checklist para comprobar que no estás saboteando tu sueño de decorar tu casa tal y como te la has imaginado.</p>
</article>


</section>
	
</div>

<!--descarga-->

<div class="caja c5">

<h2 class="titulosec">Descarga el ebook aquí</h2>
<hr class="gris">

<section class="flex_section_descarga">

     <article id="texto_descarga">
<p><b>Despeja todas las dudas que te genera inciar tu redistribución con el ebook.</b></p>

<p>Presta atención a tu bandeja de entrada. En los próximas semanas te voy a ir explicando más detalles de mi metodología y conocerás de manera más cercana las claves. trucos y consejos que aplico con mis propios clientes.</p>
<i class="fa-solid fa-angle-down"></i>
     </article>
     
     <a class="boton" style="margin-top: 40px;""
     href="#" role="button"> Descarga tu ebook </a>     

</section>
	
</div>


<!--piedepágina-->

<div class="caja c7">

	<footer id="footer">

	<p>© Todos los derechos reservados. <a href="#">Política de privacidad</a>  | <a href="#">Aviso Legal</a> | <a href="#">Política de  Cookies.</a></p>


</footer>
	
</div>



</div>
	
</body>

</html>